body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;

}
header {
    background-color: #221e1e;
    padding: 20px;
    text-align: center;
}
nav ul {
    background-color: #050000;
    list-style-type:; 
    padding: 20px;
    margin: 100px;
}
nav li {
    display: inline-block;
    margin: 0 10px;
}
.featured {
    display: flex;
    justify-content: space-between;
}
.card {
    border: 1px solid #b90606;
    padding: 20px;
    width: 30%;
}