body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;
}
header {
    background-color: #221e1e;
    padding: 20px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    margin: 0 10px;
}
.featured {
    display: flex;
    justify-content: space-between;
}
.card {
    border: 1px solid #cccccc;
    padding: 20px;
    width: 30%;
}