body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 50px;
}
header {
    background-color: #221e1e;
    padding: 20px;
    text-align: center;
}
nav ul {
    background-color: #050000;
    list-style-type:; 
    padding: 20px;
    margin: 100px;
}
nav li {
    display: inline-block;
    margin: 0 10px;
}
.featured {
    display: flex;
    justify-content: space-between;
}
.card {
    border: 1px solid #b90606;
    padding: 20px;
    width: 30%;
}

.fa-facebook {

    border: 1xp soild blue;
    padding: 20px;
    border-radius: 30px;
    background-color:blue;
    box-shadow: 0 0 30px;
}
.fa-instagram {

    border: 1xp soild blue;
    padding: 20px;
    border-radius: 30px;
    background-color:blue;
    box-shadow: 0 0 30px;
    }
.fa-twitter {

    border: 1xp soild blue;
    padding: 20px;
    border-radius: 30px;
    background-color:blue;
    box-shadow: 0 0 30px;


}