body {
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0;

}
header {
    background-color: #221e1e;
    padding: 20px;
    text-align: center;
}
nav ul {
    background-color: ;
    list-style-type: 
    padding: 0;
    margin: 0;
}
nav li {
    display: inline-block;
    margin: 0 10px;
}
.featured {
    display: flex;
    justify-content: space-between;
}
.card {
    border: 1px solid #b90606;
    padding: 20px;
    width: 30%;
}
.social-icons {
  margin: 10px 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-icons a {
  color: #110000;
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons a:hover {
  color: #00bcd4;
}